<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Fan Hub - Trash Talk</title>
		<meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/trash-style.css" type="text/css" />

	</head>
	<body>
		
		{{{ body }}}

<!-- JS and JQUERY SCRIPTS -->
 </body>